{% extends 'web/base.html' %}

{% block content %}

    <div class="row d-flex justify-content-center" style="margin-top: 30px">
        <div class="col-sm-10">
            <h1>Homepage</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nulla a sem finibus ultricies suscipit
                sed est. Phasellus congue leo et ligula porttitor, a posuere nulla faucibus. Sed imperdiet lorem ut est
                dignissim, non consequat dolor malesuada. Fusce fermentum pretium lacus et molestie. Suspendisse
                potenti. Suspendisse laoreet nisi accumsan sapien accumsan, nec scelerisque sem dapibus. Pellentesque ac
                eros nec nisi mollis pulvinar id sed leo. Praesent auctor justo quis dolor ullamcorper sollicitudin. Nam
                ullamcorper rhoncus fermentum. Duis et erat id lacus porta venenatis in ut nunc. Phasellus convallis
                ullamcorper ipsum, vel mattis lectus facilisis non. Sed consequat orci et dignissim vehicula. In semper,
                neque sed placerat rutrum, purus justo accumsan quam, nec hendrerit leo ex quis enim.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nulla a sem finibus ultricies suscipit
                sed est. Phasellus congue leo et ligula porttitor, a posuere nulla faucibus. Sed imperdiet lorem ut est
                dignissim, non consequat dolor malesuada. Fusce fermentum pretium lacus et molestie. Suspendisse
                potenti. Suspendisse laoreet nisi accumsan sapien accumsan, nec scelerisque sem dapibus. Pellentesque ac
                eros nec nisi mollis pulvinar id sed leo. Praesent auctor justo quis dolor ullamcorper sollicitudin. Nam
                ullamcorper rhoncus fermentum. Duis et erat id lacus porta venenatis in ut nunc. Phasellus convallis
                ullamcorper ipsum, vel mattis lectus facilisis non. Sed consequat orci et dignissim vehicula. In semper,
                neque sed placerat rutrum, purus justo accumsan quam, nec hendrerit leo ex quis enim.</p>
        </div>
    </div>

{% endblock %}