<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'web:show_homepage' %}">CHRONOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           style="color: #FFC107">Welcome, {{ request.user.username }}</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'posts:show_posts' %}">Posts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'watches:show_all_watches' %}">All Watches</a>
                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'watches:add_watch' %}">Add Watch</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'watches:show_collection' %}">My
                            Collection</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:show_account' %}">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:logout_account' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:login_account' %}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:register_account' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

