{% extends 'web/base.html' %}

{% block content %}
    <div class="row d-flex justify-content-center" style="margin-top: 50px">
        <div class="col-md-5">
            <h1>403</h1>
            <h3>Access denied</h3>
            <p>We are sorry, but you do not have permission to access the page.</p>
            <p>Maybe some of the following links can help you?</p>

            <button type="button" onclick="location.href='{% url 'show homepage' %}'"
                    class="btn btn-secondary flex-grow-1">Home
            </button>
            <button type="button" onclick="location.href='{% url 'show dashboard' %}'"
                    class="btn btn-secondary flex-grow-1">All Watches
            </button>
        </div>
    </div>
{% endblock %}